[Desktop Entry]
Name=Terminal File Explorer
Comment=A terminal based file explorer
GenericName=Terminal File Explorer
Exec=fe
Icon=icon
Type=Application
StartupNotify=false
Categories=System;
Name[de_AT]=FileExplorer.desktop
